#topBarContainer{
    background-color: black;
    
}

#searchIconContainer{
    height: 30px;
    background-color:rgb(67, 67, 67);
    border-right: none;
}

#searchIcon{
    color: rgb(236, 233, 233);
    
}

#searchBar{
    height: 30px;
    background-color:rgb(67, 67, 67);
    color: white;
}

#searchBar:focus{
    outline: none;
}

#searchBar::placeholder {
    color: rgb(236, 233, 233);
}