
#textPost{
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    resize: none;
}

#textPost:focus{
    outline: none;
}

#textPost::placeholder{
    color: rgb(168, 158, 158);
}

#imageIcon{
    color: rgb(80, 124, 153);
}

#textImage{
    background-color: rgb(59, 59, 59);
    border-color: white;
}

#postButton{
    background-color: rgb(42, 74, 202); 
    color: white;
    border: none;
    width: 130px;
}

#postButton:hover{
    background-color: rgb(50, 42, 202); 
}