#containerPost{
    background-color:black;
}

#containerPost:hover{
    background-color:rgb(43, 43, 43);
    border-radius: 3%;
}

#likeButton{
    background-color: transparent;
    border: none;;
}

#likeIcon{
    color: white;
}

#dislikeButton{
    background-color: transparent;
    border: none;
}

#disLikeIcon{
    color: white;
}

#likesContainer{
    background-color:rgb(67, 67, 67);
    
}

#commentButton{
    background-color: transparent;
    border: none;
}

#containerComment{
    background-color:rgb(67, 67, 67);
}

#content{
    color: rgb(196, 196, 196);
}